<!DOCTYPE html>
<html>
<title>PDF2Event</title>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

    <div id="app">
        <v-app>
            <v-app-bar app>
                <v-col class="text-right">
                    {% if 'access_token' in request.session['oauth_values'] %}
                    <v-btn color="primary mr-4" href="/auth/logout">Logout</v-btn>
                    {% else %}
                    <v-btn color="primary mr-4" href="/auth/login">Login</v-btn>
                    {% endif %}
                </v-col>
            </v-app-bar>
            <v-main>
                {% if 'access_token' in request.session['oauth_values'] %}
                <v-container>
                    <v-card>
                        <v-card-title>
                            Search for Matters API
                        </v-card-title>
                        <v-card-text>
                            <v-autocomplete v-model="selectedMatter" :items="items" :loading="isMatterLoading"
                                :search-input.sync="search" hide-no-data hide-selected item-text="display_name"
                                item-value="id" label="Matters" placeholder="Start typing to Search"
                                prepend-icon="mdi-database-search" return-object>
                            </v-autocomplete>
                        </v-card-text>
                        <v-divider></v-divider>
                        <v-expand-transition>
                            <v-list v-if="selectedMatter">
                                <v-list-item v-for="(field, i) in fields" :key="i">
                                    <v-list-item-content>
                                        <v-list-item-title v-text="field.value"></v-list-item-title>
                                        <v-list-item-subtitle v-text="field.key"></v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-expand-transition>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn :disabled="!selectedMatter" @click="selectedMatter = null">
                                Clear
                                <v-icon right>
                                    mdi-close-circle
                                </v-icon>
                            </v-btn>
                        </v-card-actions>
                    </v-card>

                    <v-snackbar v-model="snackbar" :multi-line="true">
                        A total of {[ eventsCreated.length ]} events were created.

                        <template v-slot:action="{ attrs }">
                            <v-btn color="red" text v-bind="attrs" @click="snackbar = false">
                                Close
                            </v-btn>
                        </template>
                    </v-snackbar>

                    <v-file-input show-size counter chips multiple label="Upload your PDF files" v-model="files">
                    </v-file-input>
                    <v-col>
                        <v-btn :disabled="!files || !files.length || loading" color="success" class="mr-4"
                            @click="uploadFiles" :loading="loading">
                            Upload
                        </v-btn>
                    </v-col>
                    <v-divider></v-divider>
                    <v-dialog v-model="dialog" width="500">
                        <template v-slot:activator="{ on, attrs }">

                            <v-col class="text-right">
                                <v-btn :disabled="!results || !results.length || loading" color="success" class="mr-4"
                                    v-bind="attrs" v-on="on" :loading="loading">
                                    Create Events
                                </v-btn>
                            </v-col>
                        </template>

                        <v-card>
                            <v-card-title>
                                Info
                            </v-card-title>

                            <v-card-text>
                                Are you sure you want to create events from the uploaded files?
                            </v-card-text>

                            <v-divider></v-divider>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn :disabled="loading" color="primary" text @click="dialog = false">
                                    Cancel
                                </v-btn>
                                <v-btn :loading="loading" :disabled="loading" color="primary" @click="createEvents">
                                    Create Events
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <v-expansion-panels>
                        <v-expansion-panel v-for="res in results" :key="res.id">
                            <v-checkbox label="OK" v-model="res.reviewed"></v-checkbox>
                            <v-expansion-panel-header>
                                CASE: {[ res.case ]} FILE: {[ res.filename ]} ({[
                                res.datesCount ]} events found)
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <v-text-field label="CASE" v-model="res.case"></v-text-field>

                                <v-list>
                                    <v-list-item v-for="event in res.events">
                                        <v-list-item-content>
                                            <v-list-item-title>{[ event.name ]}</v-list-item-title>
                                            <v-list-item-subtitle v-for="(date, index) in event.dates">
                                                <v-menu v-model="isDateSelected[date.id]"
                                                    :close-on-content-click="false" :nudge-right="40"
                                                    transition="scale-transition" offset-y min-width="auto">
                                                    <template v-slot:activator="{ on, attrs }">
                                                        <v-text-field :value="formatDate(date.value)"
                                                            @input="date.value = parseDate($event)"
                                                            @blur="date.value = parseDate(dateFormatted)"
                                                            label="Event date" prepend-icon="mdi-calendar" readonly
                                                            v-bind="attrs" v-on="on"></v-text-field>
                                                    </template>
                                                    <v-date-picker v-model="date.value"
                                                        @input="isDateSelected[date.id] = false">
                                                    </v-date-picker>
                                                </v-menu>
                                            </v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>
                                </v-list>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>
                </v-container>
                {% else %}
                <v-banner>
                    <v-col cols="12" class="text-center">
                        Please, Login first using your Practice Panther credentials
                    </v-col>
                </v-banner>
                {% endif %}
            </v-main>

            <v-footer app>
                Copyright © PDF2Event
            </v-footer>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: "#app",
            delimiters: ['{[', ']}'],
            vuetify: new Vuetify(),
            data: {
                files: null,
                loading: false,
                results: [],
                isDateSelected: {},
                dialog: false,
                eventsCreated: [],
                snackbar: false,
                matters: [],

                selectedMatter: '',
                isMatterLoading: false,
                descriptionLimit: 60,
                search: null,

            },
            computed: {
                fields() {
                    if (!this.selectedMatter) return []

                    return Object.keys(this.selectedMatter).map(key => {
                        return {
                            key,
                            value: this.selectedMatter[key] || 'n/a',
                        }
                    })
                },
                items() {
                    return this.matters.map(entry => {
                        const display_name = entry.display_name.length > this.descriptionLimit ?
                            entry.display_name.slice(0, this.descriptionLimit) + '...' :
                            entry.display_name

                        return Object.assign({}, entry, {
                            display_name
                        })
                    })
                },
            },
            watch: {
                search(val) {
                    // Items have already been loaded
                    if (!val || val.length < 3) return

                    // Items have already been requested
                    if (this.isMatterLoading) return

                    this.isMatterLoading = true

                    // Lazily load input items
                    axios
                        .get("/matters", {
                            'search_text': val
                        })
                        .then(response => {
                            this.matters = response.data.result;
                        })
                        .catch(error => {
                            console.log({
                                error
                            });
                        })
                        .finally(() => (this.isMatterLoading = false));

                },
            },
            methods: {

                uploadFiles() {

                    if (this.files) {
                        this.loading = true;
                        let formData = new FormData();

                        // files
                        for (let file of this.files) {
                            formData.append("files", file, file.name);
                        }

                        axios
                            .post("/upload-files", formData)
                            .then(response => {
                                this.loading = false;
                                this.results = response.data.result;
                                this.results.forEach(res => {
                                    // set default values
                                    res['reviewed'] = false;
                                });


                            })
                            .catch(error => {
                                this.loading = false;
                            });
                    } else {
                        console.log("there are no files.");
                    }
                },
                createEvents() {

                    const reviewedEvents = this.results.filter(res => res.reviewed);
                    if (reviewedEvents) {
                        this.loading = true;

                        axios
                            .post("/generate-events", reviewedEvents)
                            .then(response => {
                                this.loading = false;
                                this.dialog = false;
                                this.eventsCreated = response.data.result;
                                this.snackbar = true;
                            })
                            .catch(error => {
                                this.loading = false;
                                this.dialog = false;
                            });
                    } else {}
                },
                // Util functions
                formatDate(date) {
                    if (!date) return null

                    const [year, month, day] = date.split('-')
                    return `${month}-${day}-${year}`
                },
                parseDate(date) {
                    if (!date) return null

                    const [month, day, year] = date.split('-')
                    return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
                },

            },

        });
    </script>
</body>

</html>