<!DOCTYPE html>
<html>
<title>PDF2Event</title>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

    <div id="app">
        <v-app>
            <v-main>
                <v-container id="main">
                    <v-file-input show-size counter chips multiple label="Upload your PDF files" v-model="files">
                    </v-file-input>
                    <v-btn color="success" class="mr-4" @click="uploadFiles" :loading="loading" :disabled="loading">
                        Upload
                    </v-btn>
                    <v-divider></v-divider>
                    <v-card elevation="2" v-for="res in results" class="mt-4">
                        <v-card-title>
                            CASE: {[ res.case ]}
                        </v-card-title>

                        <v-card-text>
                            <v-list>
                                <v-list-item v-for="(item, key, index) in res.dates">
                                    <v-list-item-content>
                                        <v-list-item-title>{[ key ]}</v-list-item-title>
                                        <v-list-item-subtitle v-for="date in item">{[ date ]}</v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-card-text>

                        <v-card-actions>
                            <v-btn color="success" class="mr-4">
                                Create Events
                            </v-btn>
                        </v-card-actions>
                    </v-card>

                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: "#app",
            delimiters: ['{[', ']}'],
            vuetify: new Vuetify(),
            data: {
                files: null,
                loading: false,
                results: []
            },
            methods: {
                uploadFiles() {

                    if (this.files) {
                        this.loading = true;
                        let formData = new FormData();

                        // files
                        for (let file of this.files) {
                            formData.append("files", file, file.name);
                        }

                        axios
                            .post("/upload-files", formData)
                            .then(response => {
                                this.loading = false;
                                console.log("Success!");
                                console.log({
                                    response
                                });
                                this.results = response.data.result;
                            })
                            .catch(error => {
                                this.loading = false;
                                console.log({
                                    error
                                });
                            });
                    } else {
                        console.log("there are no files.");
                    }
                }
            }
        });
    </script>
</body>

</html>